<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: Russian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>

<div class="panel">
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/russian/add}" th:method="get">add</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/russian/load}" th:method="get">load</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/russian/loadBatch}" th:method="get">load batch</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/russian/save}" th:method="get">save</a>
    </span>
</div>

<div class="panel">
    Finished Books:
    <a th:href="@{/finishedbooks/english/}" id="finishedbooks-english" class="underline">English</a>
    <a th:href="@{/finishedbooks/russian/}" id="finishedbooks-russian" class="underline">Russian</a>
    <a th:href="@{/finishedbooks/spanish/}" id="finishedbooks-spanish" class="underline">Spanish</a>
</div>

<div class="panel">
    Books To Read:
    <a th:href="@{/bookstoread/english/}" id="bookstoread-english" class="underline">English</a>
    <a th:href="@{/bookstoread/russian/}" id="bookstoread-russian" class="underlineSelected">Russian</a>
    <a th:href="@{/bookstoread/spanish/}" id="bookstoread-spanish" class="underline">Spanish</a>
</div>
<br/>
<div>
    <form action="#" th:action="@{'/bookstoread/russian/finish'}" th:object="${book}" method="post">
        <table id="finish">
            <table border="1">
                <tr bgcolor="#cccccc">
                    <td>Author</td>
                    <td>Name</td>
                    <td>Found</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>
                        <span th:text="*{author}"></span>
                    </td>
                    <td>
                        <span th:text="*{name}"></span>
                    </td>

                    <td>
                        <span th:text="*{found}"></span>
                    </td>
                    <td>
                        <span th:text="*{description}"></span>
                    </td>
                </tr>
            </table>

            <tr>
                <td><div><br/></div></td>
            </tr>

            <tr>
                <td>
                    <label>Start</label>
                    <input type="date" field="*{start}" name="start" th:value="${book.start}">
                </td>
                <td>
                    <label>End</label>
                    <input type="date" field="*{end}" name="end" th:value="${book.end}">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="finish book">
                    <div th:if="${#fields.hasErrors('global')}">
                        <div th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>