<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: English</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div class="panel">
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/finishedbooks/spanish/add}" th:method="get">add</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/finishedbooks/spanish/load}" th:method="get">load</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underlineSelected">
        <a th:href="@{/finishedbooks/spanish/save}" th:method="get">save</a>
    </span>
</div>

<div class="panel">
    Finished Books:
    <a th:href="@{/finishedbooks/english/}" id="finishedbooks-english" class="underline">English</a>
    <a th:href="@{/finishedbooks/russian/}" id="finishedbooks-russian" class="underline">Russian</a>
    <a th:href="@{/finishedbooks/spanish/}" id="finishedbooks-spanish" class="underlineSelected">Spanish</a>
</div>

<div class="panel">
    Books To Read:
    <a th:href="@{/bookstoread/english/}" id="bookstoread-english" class="underline">English</a>
    <a th:href="@{/bookstoread/russian/}" id="bookstoread-russian" class="underline">Russian</a>
    <a th:href="@{/bookstoread/spanish/}" id="bookstoread-spanish" class="underline">Spanish</a>
</div>

<br/>
<div>
    <form action="#" th:action="@{/finishedbooks/spanish/save}" th:object="${path}" method="post">
        <table>
            <tr>
                <td>
                    <label>file</label>
                    <input type="text" field="*{path}" name="path">

                    <input type="submit" value="save table">
                </td>
            </tr>
        </table>
    </form>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
<script th:src="@{/js/src/hideAction.js}"></script>
</body>
</html>