<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: Spanish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{'/bookstoread/spanish/finish'}" th:object="${book}" method="post">
        <table id="finish">
            <tr hidden>
                <td>
                    <input th:field="*{id}"/>
                </td>
                <td>
                    <input th:field="*{author}">
                </td>
                <td>
                    <input th:field="*{name}">
                </td>
                <td>
                    <input th:field="*{found}">
                </td>
                <td>
                    <input th:field="*{description}">
                </td>
                <td>
                    <input th:field="*{language}">
                </td>
                <td>
                    <input th:field="*{additionalDates}">
                </td>
            </tr>

            <tr>
                <td>
                    <label>Start</label>
                    <input type="date" field="*{start}" name="start" th:value="${book.start}">
                </td>
                <td>
                    <label>End</label>
                    <input type="date" field="*{end}" name="end" th:value="${book.end}">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="finish book">
                    <div th:if="${#fields.hasErrors('global')}">
                        <div th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>