<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<table th:fragment="finish" border="1px" class="hiddenPanel" hidden id="finish">
    <tr>
        <td>
            <label>#</label>
            <input type="number" field="*{id}" name="id">
        </td>
        <td>
            <label>Start</label>
            <input type="date" field="*{start}" name="start">
        </td>
        <td>
            <label>End</label>
            <input type="date" field="*{end}" name="end">
        </td>

        <td>
            <input type="submit" value="finish book">
        </td>
    </tr>
</table>
<table th:fragment="edit" border="1px" class="hiddenPanel" hidden id="edit">
    <tr>
        <td>
            <label>#</label>
            <input type="number" field="*{id}" name="id">
        </td>
    </tr>
    <div th:replace="fragments/commonAttributes :: commonAttributesToRead"></div>
    <tr>
        <td>
            <input type="submit" value="edit book">
        </td>
    </tr>
</table>
</body>
</html>