<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:fragment="add" border="1px" class="hiddenPanel" id="add">
    <tr>
        <td>
            <label>Author</label>
            <input type="text" field="*{author}" name="author">
        </td>
        <td>
            <label>Name</label>
            <input type="text" field="*{name}" name="name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Found</label>
            <input type="date" field="*{found}" name="found">
        </td>
        <td>
            <label>Description</label>
            <input type="text" field="*{description}" name="description">
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="add book">
        </td>
    </tr>
</table>
<table th:fragment="finish" border="1px" class="hiddenPanel" hidden id="finish">
    <tr>
        <td>
            <label>#</label>
            <input type="number" field="*{id}" name="id">
        </td>
        <td>
            <label>Start</label>
            <input type="date" field="*{start}" name="start">
        </td>
        <td>
            <label>End</label>
            <input type="date" field="*{end}" name="end">
        </td>

        <td>
            <input type="submit" value="finish book">
        </td>
    </tr>
</table>
<table th:fragment="edit" border="1px" class="hiddenPanel" hidden id="edit">
    <tr>
        <td>
            <label>#</label>
            <input type="number" field="*{id}" name="id">
        </td>
    </tr>
    <tr>
        <td>
            <label>Author</label>
            <input type="text" field="*{author}" name="author">
        </td>
        <td>
            <label>Name</label>
            <input type="text" field="*{name}" name="name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Found</label>
            <input type="date" field="*{found}" name="found">
        </td>
        <td>
            <label>Description</label>
            <input type="text" field="*{description}" name="description">
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="edit book">
        </td>
    </tr>
</table>
</body>
</html>