<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="commonAttributesFinished">
    <tr>
        <td>
            <label>Author</label>
            <input type="text" field="*{author}" name="author">
        </td>
        <td>
            <label>Name</label>
            <input type="text" field="*{name}" name="name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Start</label>
            <input type="date" field="*{start}" name="start">
        </td>
        <td>
            <label>End</label>
            <input type="date" field="*{end}" name="end">
        </td>
    </tr>
    <tr>
        <td>
            <label>Found</label>
            <input type="date" field="*{found}" name="found">
        </td>
        <td>
            <label>Description</label>
            <input type="text" field="*{description}" name="description">
        </td>
    </tr>
</div>
<div th:fragment="commonAttributesToRead">
    <tr>
        <td>
            <label>Author</label>
            <input type="text" field="*{author}" name="author">
        </td>
        <td>
            <label>Name</label>
            <input type="text" field="*{name}" name="name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Found</label>
            <input type="date" field="*{found}" name="found">
        </td>
        <td>
            <label>Description</label>
            <input type="text" field="*{description}" name="description">
        </td>
    </tr>
</div>
<div th:fragment="alreadyExists" th:object="${alreadyExistsMessage}" hidden>
    <div th:if="${alreadyExistsMessage}">
        <script>
        let table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("This book already exists.");
        </script>
    </div>
</div>
<div th:fragment="nonExistent" th:object="${nonExistentMessage}" hidden>
    <div th:if="${nonExistentMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("finish");
        let table = document.body.getElementsByClassName("hiddenPanel").finish;
        table.children[0].children[1].firstElementChild.append("This book doesn't exist.");
        </script>
    </div>
</div>
</body>
</html>