<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="alreadyExists" th:object="${alreadyExistsMessage}" hidden>
    <div th:if="${alreadyExistsMessage}">
        <script>
        let table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("This book already exists.");
        </script>
    </div>
</div>
<div th:fragment="nonExistent" th:object="${nonExistentMessage}" hidden>
    <div th:if="${nonExistentMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("finish");
        let table = document.body.getElementsByClassName("hiddenPanel").finish;
        table.children[0].children[1].firstElementChild.append("This book doesn't exist.");
        </script>
    </div>
</div>
</body>
</html>