<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<table th:fragment="add" border="1px" class="hiddenPanel" id="add">
    <div th:replace="fragments/commonAttributes :: commonAttributesFinished"></div>
    <tr>
        <td>
            <input type="submit" value="add book">
        </td>
    </tr>
</table>
<table th:fragment="edit" border="1px" class="hiddenPanel" hidden id="edit">
    <tr>
        <td>
            <label>#</label>
            <input type="number" field="*{id}" name="id">
        </td>
    </tr>
    <div th:replace="fragments/commonAttributes :: commonAttributesFinished"></div>
    <tr>
        <td>
            <input type="submit" value="edit book">
        </td>
    </tr>
</table>
</body>
</html>