<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/scrollbar.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    Finished Books:
    <a th:href="@{/finishedbooks/english/}">English</a>
    <a th:href="@{/finishedbooks/russian/}">Russian</a>
    <a th:href="@{/finishedbooks/spanish/}">Spanish</a>

    <br/>

    Books To Read:
    <a th:href="@{/bookstoread/english/}">English</a>
    <a th:href="@{/bookstoread/russian/}">Russian</a>
    <a th:href="@{/bookstoread/spanish/}">Spanish</a>

    <br/>

    <input type="checkbox" onclick="show()" id="stat">
    <label>show hidden properties</label>

    <br/>

    <input type="checkbox" onclick="showPanels()" id="stat2">
    <label>show hidden panels</label>
</div>
</body>
</html>