<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:fragment="header">
    <div class="panel">
        <span onclick="actionsHandler(this.id)" id="add" class="underlineSelected">add</span>
        <span onclick="actionsHandler(this.id)" id="finish" class="underline">finish</span>
        <span onclick="actionsHandler(this.id)" id="edit" class="underline">edit</span>
        <span onclick="actionsHandler(this.id)" id="load" class="underline">load</span>
        <span onclick="actionsHandler(this.id)" id="loadBatch" class="underline">load batch</span>
        <span onclick="actionsHandler(this.id)" id="save" class="underline">save</span>
        <span onclick="actionsHandler(this.id)" id="verify" class="underline">verify</span>
    </div>

    <div class="panel">
        Finished Books:
        <a th:href="@{/finishedbooks/english/}" id="finishedbooks-english" class="underline">English</a>
        <a th:href="@{/finishedbooks/russian/}" id="finishedbooks-russian" class="underline">Russian</a>
        <a th:href="@{/finishedbooks/spanish/}" id="finishedbooks-spanish" class="underline">Spanish</a>
    </div>

    <div class="panel">
        Books To Read:
        <a th:href="@{/bookstoread/english/}" id="bookstoread-english" class="underline">English</a>
        <a th:href="@{/bookstoread/russian/}" id="bookstoread-russian" class="underline">Russian</a>
        <a th:href="@{/bookstoread/spanish/}" id="bookstoread-spanish" class="underline">Spanish</a>
    </div>

    <input type="checkbox" onclick="show()" id="stat">
    <label>show hidden properties</label>

    <script th:src="@{/js/src/selectLibrary.js}"></script>
</div>
</body>
</html>