<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/scrollbar.css}" rel="stylesheet">
</head>
<body>
<table border="1px" class="hiddenPanel" hidden th:fragment="loadBatch" id="loadBatch">
    <tr>
        <td>
            <label>file</label>
            <input type="text" field="*{name}" name="name">
        </td>

        <td>
            <input type="submit" value="load batch">
        </td>
    </tr>
</table>
</body>
</html>