<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: Russian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/checkbox.css}" rel="stylesheet">-->
    <link th:href="@{/css/scrollbar.css}" rel="stylesheet">
    <link th:href="@{/css/textbox.css}" rel="stylesheet">
</head>
<style>
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



</style>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/bookstoread/english/add}" th:object="${booksToReadEnglishInput}" method="post">
    <table border="1px">
        <tr>
            <td>
                <label>Author</label>
                <input type="text" field="*{author}" name="author">
            </td>
            <td>
                <label>Name</label>
                <input type="text" field="*{name}" name="name">
            </td>
            <td>
                <label>Found</label>
                <input type="date" field="*{found}" name="found">
            </td>
            <td>
                <label>Found Description</label>
                <input type="text" field="*{foundDescription}" name="foundDescription">
            </td>

            <td>
                <input type="submit" value="add book">
            </td>
        </tr>
    </table>
</form>
    <br/>
<!--    <form action="#" th:action="@{/bookstoread/english/finish}" th:object="${finishBookEnglishInput}" method="post">-->
<!--        <table border="1px" class="hidden" hidden>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <label>Author</label>-->
<!--                    <input type="number" field="*{id}" name="id">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <label>Name</label>-->
<!--                    <input type="date" field="*{start}" name="start">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <label>Found</label>-->
<!--                    <input type="date" field="*{end}" name="end">-->
<!--                </td>-->

<!--                <td>-->
<!--                    <input type="submit" value="finish book">-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
</div>
<br/>
<div id="content-1">
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td>#</td>
            <td>Author</td>
            <td>Name</td>
            <td>Found</td>
            <td class="hidden" hidden>Found Description</td>
        </tr>

        <tr th:each="book : ${booksToRead}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.found}"></td>

            <td th:text="${book.foundDescription}" class="hidden" hidden></td>

            <td>
                <a th:href="@{'/bookstoread/english/edit/{id}'(id=${book.id})}">edit</a>
            </td>
            <td>
                <a th:href="@{'/bookstoread/english/finish/{id}'(id=${book.id})}">finish</a>
            </td>
            <td>
                <a th:href="@{'/bookstoread/english/delete/{id}'(id=${book.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<script>
    function show() { // показывает/скрывает доп. информацию
        let hidden = document.getElementsByClassName('hidden');

        if (hidden[0].hidden) {
            for (let i = 0; i < hidden.length ; i++) {
                hidden[i].hidden = false;
            }
        } else {
            for (let i = 0; i < hidden.length ; i++) {
                hidden[i].hidden = true;
            }
        }
    }

</script>
</body>
</html>