<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: English</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/bookstoread/english/add}" th:object="${booksToReadEnglishInput}" method="post">
        <table th:fragment="add" class="hiddenPanel" id="add">
            <tr>
                <td>
                    <label>Author</label>
                    <input type="text" field="*{author}" name="author" th:value="${booksToReadEnglishInput.author}">
                </td>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name" th:value="${booksToReadEnglishInput.name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Found</label>
                    <input type="date" field="*{found}" name="found">
                </td>
                <td>
                    <label>Description</label>
                    <input type="text" field="*{description}" name="description"
                           th:value="${booksToReadEnglishInput.description}">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="add book">
                    <div th:replace="fragments/errorMessages :: alreadyExists"></div>
                    <div th:replace="fragments/errorMessages :: emptyDates"></div>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{'/bookstoread/english/finish/{id}'}" th:object="${booksToReadEnglishInput}"
          method="post">
        <table th:fragment="finish" class="hiddenPanel" hidden id="finish">
            <tr>
                <td>
                    <label>#</label>
                    <input type="number" field="*{id}" name="id" th:value="${booksToReadEnglishInput.id}">
                </td>
                <td>
                    <label>Start</label>
                    <input type="date" field="*{start}" name="start" th:value="${booksToReadEnglishInput.start}">
                </td>
                <td>
                    <label>End</label>
                    <input type="date" field="*{end}" name="end" th:value="${booksToReadEnglishInput.end}">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="finish book">
                    <div th:replace="fragments/errorMessages :: nonExistent"></div>
                    <div th:replace="fragments/errorMessages :: emptyDatesFinish"></div>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{'/bookstoread/english/edit/{id}'}" th:object="${booksToReadEnglishInput}"
          method="post">
        <table th:fragment="edit" class="hiddenPanel" hidden id="edit">
            <tr>
                <td>
                    <label>#</label>
                    <input type="number" field="*{id}" name="id" th:value="${booksToReadEnglishInput.id}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Author</label>
                    <input type="text" field="*{author}" name="author" th:value="${booksToReadEnglishInput.author}">
                </td>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name" th:value="${booksToReadEnglishInput.name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Found</label>
                    <input type="date" field="*{found}" name="found">
                </td>
                <td>
                    <label>Description</label>
                    <input type="text" field="*{description}" name="description"
                           th:value="${booksToReadEnglishInput.description}">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="edit book">
                    <div th:replace="fragments/errorMessages :: nonExistentEdit"></div>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{'/bookstoread/english/load'}" th:object="${booksToReadEnglishInput}" method="post">
        <table th:replace="fragments/IO :: load"></table>
    </form>

    <form action="#" th:action="@{'/bookstoread/english/loadBatch'}" th:object="${booksToReadEnglishInput}"
          method="post">
        <table th:replace="fragments/IO :: loadBatch"></table>
    </form>

    <form action="#" th:action="@{'/bookstoread/english/save'}" th:object="${booksToReadEnglishInput}" method="post">
        <table th:replace="fragments/IO :: save"></table>
    </form>
</div>
<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td><a th:href="@{'/bookstoread/english/sort/{property}' (property = 'id')}">#</a></td>
            <td>Author</td>
            <td>Name</td>
            <td><a th:href="@{'/bookstoread/english/sort/{property}' (property = 'found')}">Found</a></td>
            <td class="hidden" hidden>Description</td>
            <td></td>
        </tr>

        <tr th:each="book : ${booksToRead}" class="list">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${#dates.format(book.found, 'M/d/yy')}"></td>

            <td th:text="${book.description}" class="hidden" hidden></td>

            <td>
                <a th:href="@{'/bookstoread/english/delete/{id}'(id=${book.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>