<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: Spanish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/bookstoread/spanish/add}" th:object="${booksToReadSpanishInput}" method="post">
        <table border="1px" class="hiddenPanel" id="add">
            <tr>
                <td>
                    <label>Author</label>
                    <input type="text" field="*{author}" name="author">
                </td>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Found</label>
                    <input type="date" field="*{found}" name="found">
                </td>
                <td>
                    <label>Description</label>
                    <input type="text" field="*{description}" name="description">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="add book">
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <form action="#" th:action="@{'/bookstoread/spanish/finish/{id}'}" th:object="${booksToReadSpanishInput}"
          method="post">
        <table border="1px" class="hiddenPanel" hidden id="finish">
            <tr>
                <td>
                    <label>#</label>
                    <input type="number" field="*{id}" name="id">
                </td>
                <td>
                    <label>Start</label>
                    <input type="date" field="*{start}" name="start">
                </td>
                <td>
                    <label>End</label>
                    <input type="date" field="*{end}" name="end">
                </td>

                <td>
                    <input type="submit" value="finish book">
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <form action="#" th:action="@{'/bookstoread/spanish/edit/{id}'}" th:object="${booksToReadSpanishInput}"
          method="post">
        <table border="1px" class="hiddenPanel" hidden id="edit">
            <tr>
                <td>
                    <label>#</label>
                    <input type="number" field="*{id}" name="id">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Author</label>
                    <input type="text" field="*{author}" name="author">
                </td>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Found</label>
                    <input type="date" field="*{found}" name="found">
                </td>
                <td>
                    <label>Description</label>
                    <input type="text" field="*{description}" name="description">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="edit book">
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <form action="#" th:action="@{'/bookstoread/spanish/load'}" th:object="${booksToReadSpanishInput}" method="post">
        <table th:replace="fragments/loadPanel :: loadPanel"></table>
    </form>
    <br/>
    <form action="#" th:action="@{'/bookstoread/spanish/save'}" th:object="${booksToReadSpanishInput}" method="post">
        <table th:replace="fragments/savePanel :: savePanel"></table>
    </form>
</div>
<br/>
<div id="content-1">
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td><a th:href="@{'/bookstoread/spanish/sort/{property}' (property = 'id')}">#</a></td>
            <td>Author</td>
            <td>Name</td>
            <td><a th:href="@{'/bookstoread/spanish/sort/{property}' (property = 'found')}">Found</a></td>
            <td class="hidden" hidden>Description</td>
        </tr>

        <tr th:each="book : ${booksToRead}" class="list">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${#dates.format(book.found, 'M/d/yy')}"></td>

            <td th:text="${book.description}" class="hidden" hidden></td>

            <td>
                <a th:href="@{'/bookstoread/spanish/delete/{id}'(id=${book.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>