<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: Spanish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/finishedbooks/spanish/add}" th:object="${finishedSpanishInput}" method="post">
        <table th:replace="fragments/fullInfoPanels :: finishedBookAddPanel"></table>
    </form>
    <br/>
    <form action="#" th:action="@{'/finishedbooks/spanish/edit/{id}'}" th:object="${finishedSpanishInput}"
          method="post">
        <table th:replace="fragments/fullInfoPanels :: finishedBookEditPanel"></table>
    </form>
    <br/>
    <form action="#" th:action="@{'/finishedbooks/spanish/load'}" th:object="${finishedSpanishInput}" method="post">
        <table th:replace="fragments/IOPanels :: loadPanel"></table>
    </form>
    <br/>
    <form action="#" th:action="@{'/finishedbooks/spanish/save'}" th:object="${finishedSpanishInput}" method="post">
        <table th:replace="fragments/IOPanels :: savePanel"></table>
    </form>
</div>
<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td><a th:href="@{'/finishedbooks/spanish/sort/{property}' (property = 'id')}">#</a></td>
            <td>Author</td>
            <td>Name</td>
            <td>
                <a th:href="@{'/finishedbooks/spanish/sort/{property}' (property = 'start')}">Start</a>
                <br/>
                <a th:href="@{'/finishedbooks/spanish/sort/{property}' (property = 'end')}">End</a>
            </td>
            <td class="hidden" th:each="additionalDate : ${additionalDates}" hidden>Additional Dates</td>
            <td class="hidden" hidden>
                <a th:href="@{'/finishedbooks/spanish/sort/{property}' (property = 'found')}">Found</a>
            </td>
            <td class="hidden" hidden>Description</td>
        </tr>

        <tr th:each="book : ${books}" class="list">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.name}"></td>
            <td>
                <span th:text="${#dates.format(book.start, 'M/d/yy')}"></span>
                <br/>
                <span th:text="${#dates.format(book.end, 'M/d/yy')}"></span>
            </td>

            <div th:each="additionalDate : ${additionalDates}">
                <td th:if="${additionalDate.finishedBookId} == ${book.id}">
                    <span th:text="${#dates.format(additionalDate.start, 'M/d/yy')}"></span>
                    <br/>
                    <span th:text="${#dates.format(additionalDate.end, 'M/d/yy')}"></span>
                </td>
            </div>

            <td th:text="${#dates.format(book.found, 'M/d/yy')}" class="hidden" hidden></td>
            <td th:text="${book.description}" class="hidden" hidden></td>

            <td>
                <a th:href="@{'/finishedbooks/spanish/delete/{id}'(id=${book.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
<script th:src="@{/js/src/hideAction.js}"></script>
</body>
</html>