<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library: English</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/checkbox.css}" rel="stylesheet">-->
    <link th:href="@{/css/scrollbar.css}" rel="stylesheet">
    <link th:href="@{/css/textbox.css}" rel="stylesheet">
</head>
<style>
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



</style>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/finishedbooks/english/add}" th:object="${finishedEnglishInput}" method="post">
        <table border="1px">
            <tr>
                <td>
                    <label>Author</label>
                    <input type="text" field="*{author}" name="author">
                </td>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name">
                </td>
                <td>
                    <label>Start</label>
                    <input type="date" field="*{start}" name="start">
                </td>
                <td>
                    <label>End</label>
                    <input type="date" field="*{end}" name="end">
                </td>
                <td>
                    <label>Found</label>
                    <input type="date" field="*{found}" name="found">
                </td>

                <td>
                    <input type="submit" value="add book">
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <form action="#" th:action="@{'/finishedbooks/english/edit/{id}'}" th:object="${finishedEnglishInput}" method="post">
        <table border="1px" class="hidden" hidden>
            <tr>
                <td>
                    <label>#</label>
                    <input type="number" field="*{id}" name="id">
                </td>
                <td>
                    <label>Author</label>
                    <input type="text" field="*{author}" name="author">
                </td>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name">
                </td>
                <td>
                    <label>Start</label>
                    <input type="date" field="*{start}" name="start">
                </td>
                <td>
                    <label>End</label>
                    <input type="date" field="*{end}" name="end">
                </td>
                <td>
                    <label>Found</label>
                    <input type="date" field="*{found}" name="found">
                </td>
                <td>
                    <label>Found Description</label>
                    <input type="text" field="*{foundDescription}" name="foundDescription">
                </td>

                <td>
                    <input type="submit" value="edit book">
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>
<div id="content-1">
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td>#</td>
            <td>Author</td>
            <td>Name</td>
            <td>
                Start
                <br/>
                End
            </td>
            <td class="hidden" hidden>Additional Dates</td>
            <td class="hidden" hidden>Found</td>
            <td class="hidden" hidden>Found Description</td>
            <td class="hidden" hidden>Start Description</td>
            <td class="hidden" hidden>End Description</td>
        </tr>

        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td width="200" th:text="${book.author}"></td>
            <td th:text="${book.name}"></td>
            <td>
                <span th:text="${book.start}"></span>
                <br/>
                <span th:text="${book.end}"></span>
            </td>

<!--            пусть пока будет так-->
            <td class="hidden" hidden>
                <div th:each="additionalDate : ${additionalDates}" >
                    <div th:if="${additionalDate.finishedBookId} == ${book.id}">
                        <span th:text="${additionalDate.start}"></span>
                        <br/>
                        <span th:text="${additionalDate.end}"></span>
                    </div>
                </div>
            </td>

            <td th:text="${book.found}" class="hidden" hidden></td>
            <td th:text="${book.foundDescription}" class="hidden" hidden></td>
            <td th:text="${book.startDescription}" class="hidden" hidden>
            <td th:text="${book.endDescription}" class="hidden" hidden>

            <td>
                <a th:href="@{'/finishedbooks/english/delete/{id}'(id=${book.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<script>
    function show() { // показывает/скрывает доп. информацию
        let hidden = document.getElementsByClassName('hidden');

        if (hidden[0].hidden) {
            for (let i = 0; i < hidden.length ; i++) {
                hidden[i].hidden = false;
            }
        } else {
            for (let i = 0; i < hidden.length ; i++) {
                hidden[i].hidden = true;
            }
        }
    }


</script>
</body>
</html>