<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library: English</title>
    <link th:replace="fragments/css :: css">
</head>
<body>

<div class="panel">
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/add}" th:method="get">add</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/load}" th:method="get">load</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/loadBatch}" th:method="get">load batch</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/save}" th:method="get">save</a>
    </span>
</div>

<div class="panel">
    Finished Books:
    <a th:href="@{/finishedbooks/english/}" id="finishedbooks-english" class="underline">English</a>
    <a th:href="@{/finishedbooks/russian/}" id="finishedbooks-russian" class="underline">Russian</a>
    <a th:href="@{/finishedbooks/spanish/}" id="finishedbooks-spanish" class="underline">Spanish</a>
</div>

<div class="panel">
    Books To Read:
    <a th:href="@{/bookstoread/english/}" id="bookstoread-english" class="underlineSelected">English</a>
    <a th:href="@{/bookstoread/russian/}" id="bookstoread-russian" class="underline">Russian</a>
    <a th:href="@{/bookstoread/spanish/}" id="bookstoread-spanish" class="underline">Spanish</a>
</div>
<br/>
<div>
    <form action="#" th:action="@{/bookstoread/english/add}" th:object="${book}" method="post">
        <table id="add">
            <tr>
                <td>
                    <label>Author</label>
                    <input type="text" field="*{author}" name="author" th:value="${book.author}">
                </td>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name" th:value="${book.name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Found</label>
                    <input type="date" field="*{found}" name="found">
                </td>
                <td>
                    <label>Description</label>
                    <input type="text" field="*{description}" name="description"
                           th:value="${book.description}">
                </td>
            </tr>
            <tr hidden>
                <td>
                    <input type="text" field="*{language}" name="language" th:value="English">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="add book">
                    <div th:if="${#fields.hasErrors('global')}">
                        <div th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>