<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library: English</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css :: css">
</head>
<body>

<div class="panel">
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/add}" th:method="get">add</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/load}" th:method="get">load</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/loadBatch}" th:method="get">load batch</a>
    </span>
    <span onclick="actionsHandler(this.id)" class="underline">
        <a th:href="@{/bookstoread/english/save}" th:method="get">save</a>
    </span>
</div>

<div class="panel">
    Finished Books:
    <a th:href="@{/finishedbooks/english/}" id="finishedbooks-english" class="underline">English</a>
    <a th:href="@{/finishedbooks/russian/}" id="finishedbooks-russian" class="underline">Russian</a>
    <a th:href="@{/finishedbooks/spanish/}" id="finishedbooks-spanish" class="underline">Spanish</a>
</div>

<div class="panel">
    Books To Read:
    <a th:href="@{/bookstoread/english/}" id="bookstoread-english" class="underlineSelected">English</a>
    <a th:href="@{/bookstoread/russian/}" id="bookstoread-russian" class="underline">Russian</a>
    <a th:href="@{/bookstoread/spanish/}" id="bookstoread-spanish" class="underline">Spanish</a>
</div>
<br/>

<div>
    <input type="checkbox" id="info">
    Show hidden properties
</div>

<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td><a th:href="@{'/bookstoread/english/sort/{property}' (property = 'id')}">#</a></td>
            <td>Author</td>
            <td>Name</td>
            <td><a th:href="@{'/bookstoread/english/sort/{property}' (property = 'found')}">Found</a></td>
            <td class="hidden" hidden>Description</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr th:each="book : ${booksToRead}" class="list">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${#dates.format(book.found, 'M/d/yy')}"></td>

            <td th:text="${book.description}" class="hidden" hidden></td>

            <td>
                <a th:href="@{'/bookstoread/english/edit/{id}'(id=${book.id})}">edit</a>
            </td>
            <td>
                <a th:href="@{'/bookstoread/english/finish/{id}'(id=${book.id})}">finish</a>
            </td>
            <td>
                <a th:href="@{'/bookstoread/english/delete/{id}'(id=${book.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>